{% extends 'base.html.twig' %}

{% block title %}Date{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_date_index') }}">
        {{ form_row(form._token) }}
        {{ form_row(form.date) }}
        {{ form_row(form.timezone) }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
